  <li><a href="/?page=<%=page+paginate[1]%>">&laquo;</a></li>
  <li><a href="/?page=<%=page+paginate[0]%>"><%= page+paginate[0] %></a></li>
  <li><a href="/?page=<%=page+paginate[1]%>"><%= page+paginate[1] %></a></li>
  <li><a href="/?page=<%=page+paginate[2]%>"><strong><%=page+paginate[2]%></strong></a></li>
  <li><a href="/?page=<%=page+paginate[3]%>"><%= page+paginate[3] %></a></li>
  <li><a href="/?page=<%=page+paginate[4]%>"><%= page+paginate[4] %></a></li>
  <li><a href="/?page=<%=page+paginate[3]%>">&raquo;</a></li>




